@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.2s;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #fef9f6;
  overflow-x: hidden;
}

.header-container {
  background-color: #fef9f6;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.bord {
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.25);
}

.header {
  display: flex;
  width: 100vw;
  padding: 2% 10%;
  height: 80px;
}

.header .title {
  font-weight: 700;
  align-self: center;
}

.header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 8%;
  flex-grow: 1;
}

.menu {
  display: none;
  border: 0px;
  background-color: transparent;
}

.mobile-nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5%;
}

.mobile-nav-item {
  font-weight: bold;
  opacity: 0.8;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cta .login,
.cta .get-started {
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 12px;
}

.cta .login {
  background-color: rgb(241, 242, 244);
}

.cta .get-started {
  background-color: rgb(46, 46, 46);
  color: rgb(241, 242, 244);
}

@keyframes movement {
  0% {
    left: 0%;
  }

  100% {
    left: -100%;
  }
}

@keyframes movement2 {
  0% {
    right: 0%;
  }

  100% {
    right: -100%;
  }
}

.infinite-loop {
  position: absolute;
  display: flex;
  gap: 5px;
  animation: movement 50s infinite linear;
}

.infinite-loop-reverse {
  position: absolute;
  display: flex;
  gap: 5px;
  animation: movement2 100s infinite linear;
}

.infinite-loop-item {
  width: 400px;
}

@media screen and (max-width: 720px) {
  .cta {
    display: none;
  }

  .header ul {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .menu {
    display: block;
  }

  .header-container {
    border-radius: 0px 0px 24px 24px;
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.05);
  }

  .content{
    gap: 0px;
  }

  .s3-container{
    gap:0px;
    margin: 0px;
  }
}

.content {
  width: 100%;
  gap: 80px;
}

.s1-container {
  width: 60vw;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: center;
  text-align: center;
}

.s1-capsule {
  display: inline-block;
  background-color: #f1f2f4;
  height: min-content;
  margin: 0;
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 500;
  position: relative;
  transform: translateY(50px);
  font-size: 15px;
}

.s1-heading {
  font-size: 6vw;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-stretch: narrower;
}

.s1-content {
  display: inline-block;
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  color: #6b6b78;
}

.s1-button {
  border-radius: 12px;
  border: none;
  padding: 16px 32px;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 16px;
  transition: all 0.4s;
}

.s1-button:hover {
  transform: scale(110%);
}

.s1-button-text {
  color: #6b6b78;
  font-size: 12px;
}

.s3-heading{
  font-size: 56px;
  font-weight: 800;
  line-height: 120%;
}

.s3-container{
  width: 95vw;
  margin: 20px auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.s3-capsule{
  display: inline-block;
  background-color: #f1f2f4;
  height: min-content;
  margin: 0;
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
}

.bg-1{
  background-color: #fee9cb;
}

.s3-content{
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
}

.s3-content-left, .s3-content-right{
  width: 560px;
  height: 600px;
}

.s3-content-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-card-container{
  display: flex;
  align-items: flex-start;
  flex:none;
  flex-wrap: wrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
}

.feature-card{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:24px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
}
